*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 330px;
    height:630px;
    background-color: black;
    display: flex;
    color:white;
    flex-direction: column;

}
.container .display{

width: 100%;
height: 30%;

}
.container .numpad{
width: 100%;
height: 70%;
display: grid;
grid-template-columns: 82.5px 82.5px 82.5px 82.5px;
padding: 20px 0px 0px 10px;
}
.btn{
    height: 68px;
    width: 65px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
}
.style1{
    background-color: rgba(255, 255, 255, 0.76); 
    font-size: 25px; 
    font-weight: bolder;
}

.style2
{
    background-color: orange; 
    color: white;
    font-size: 25px; 
    font-weight: bolder;
}
.style3{
    background-color:rgba(104, 104, 104, 0.61); 
    color: white;
    font-size: 25px; 
    /* font-weight: bolder; */
}

.display{
    display: flex;
    flex-direction: column;
}
.display1{
    
width: 100%;
height:45% ;
display: flex;
justify-content: flex-end;
align-items: center;
}
.display2{

width: 100%;
height: 55%;
display: flex;
justify-content: flex-end;
font-size: 60px;
font-weight: lighter;
}
   .input{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    border: 0; 
    font-size: 35px;
text-align:end;   
padding-right: 10px;

}

   .btn:hover{
    cursor:default;
   }
